<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/posts">Posts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<br>

<h2 class="font-weight-bold"><strong>UPDATES POSTS</strong></h2>

<form class="md-form" action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">

    <div class="md-form">
        <input type="text" id="title" name="title" class="form-control" value="{{post.title}}">
        <label for="title" >Title</label>
    </div>

    {{#if post.allowFile}}
        <img class="img-fluid" src="/uploads/{{post.file}}" alt="{{post.file}}" style="height:100px;">
    {{else}}
    
    {{/if}}
    <div class="file-field mb-3 mt-3">
        <div class="btn btn-outline-info waves-effect btn-sm float-left">
            <span>Choose file<i class="fa fa-upload ml-3" aria-hidden="true"></i></span>
            <input type="file" name="file" id="file">
        </div>
        <div class="file-path-wrapper">
           <input class="file-path validate" type="text" placeholder="{{post.file}}">
        </div>
    </div>

    <select class="mdb-select" name="status" id="status">
        {{#select post.status}}
            <option value="" disabled selected>Select Status</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
        {{/select}}
    </select>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="allowComments" id="allowComments" {{#if post.allowComments}} checked="checked" {{/if}}>
        <label class="custom-control-label" for="allowComments">Allow Comments</label>
    </div>    

    <div class="md-form">
        <textarea type="text" id="body" name="body" class="md-textarea form-control" cols="15" rows="5">{{post.body}}</textarea>
        <label for="body">Body</label>
    </div>

    <button type="submit" class="btn btn-outline-success waves-effect"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
    <a href="/admin/posts" class="btn btn-outline-danger waves-effect"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</a>
</form>

<br><br>
