<style>
    body{
        background-color: #9e9e9e2e;
    }
    .breadcrumb{
        background-color: #607d8b2e
    }
    .select-dropdown{
        color: #7A7A7A;
    }
    .md-form label {
        font-size: 0.9rem;
    }
</style>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consultation</li>
  </ol>
</nav>

<!-- Grid row -->
<div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="container-fluid">


                
            <div class="row">

                <div class="col-md-8">

                    <div class="card">

                        <div class="card-body px-lg-5">

                            <h5 class="font-weight-bold"><strong><u>Compte Personnel</u></strong></h5>
                            <p class="mb-1" style="font-size:15px;"><strong>Email:</strong> {{userview.email}}</p>

                        </div>
                    </div>

                    <br>

                    <div class="card">

                        <div class="card-body px-lg-5">

                            <h5 class="font-weight-bold"><strong><u>Information Personnel</u></strong></h5>
                            <p class="mt-3" style="font-size:15px;"><strong>Address:</strong> {{userview.address}}</p>
                            <p class="mt-1" style="font-size:15px;"><strong>Numéro de Téléphone:</strong> {{userview.phone}}</p>
                            <p class="mt-1" style="font-size:15px;"><strong>Diplome, Spécialité:</strong> {{userview.certificate}}</p>
                            <p class="mt-1" style="font-size:15px;"><strong>Situation Familiale:</strong> {{userview.situation}}</p>
                            <p class="mt-1 mb-1" style="font-size:15px;"><strong>Date de Naissance:</strong> {{userview.birth.birthday}} {{userview.birth.birthmonth}} {{userview.birth.birthyear}}</p>

                        </div>
                    </div>

                    <br>

                    <div class="card">

                        <div class="card-body px-lg-5">

                            <h5 class="mb-4 font-weight-bold"><strong><u>Constat Professionel</u></strong> &nbsp;<span class="badge badge-danger">{{userview.constats.length}}</span></h5>

                            <div class="table-responsive">

                                <table class="table">

                                    <thead class="grey lighten-2">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Motif</th>
                                            <th></th>
                                            <th scope="col"><span class="float-right"><a href="/admin/users/create" class="text-success"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a></span></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {{#each userview.constats}}
                                        <tr>
                                            <th scope="row">29 juin 2015</th>
                                            <td>{{motifConstat}}</td>
                                            <td></td>
                                            <td><a href="#" class="btn btn-outline-success waves-effect btn-sm m-0 float-right">Consulter</a></td>
                                        </tr>
                                    {{/each}}  
                                    </tbody>

                                </table>
                                
                            </div>

                            

                        </div>
                    </div>

                    <br>

                    <div class="card">

                        <div class="card-body px-lg-5">

                            <h5 class="mb-4 font-weight-bold"><strong><u>Plan d’Action De Securité Ferroviaire (PASF)</u></strong> &nbsp;<span class="badge badge-danger">3</span></h5>

                             <div class="table-responsive">

                                <table class="table">

                                    <thead class="grey lighten-2">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Motif</th>
                                            <th></th>
                                            <th scope="col"><span class="float-right"><a href="/admin/users/create" class="text-success"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a></span></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    
                                        <tr>
                                            <th scope="row">24 avril 2018</th>
                                            <td>Franchissement intempestif du signal de manœuvre</td>
                                            <td></td>
                                            <td><a href="#" class="btn btn-outline-success waves-effect btn-sm m-0 float-right">Consulter</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">09 juin 2017</th>
                                            <td>Accident matériel de la R107 avec un véhicule.</td>
                                            <td></td>
                                            <td><a href="#" class="btn btn-outline-success waves-effect btn-sm m-0 float-right">Consulter</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">14 octobre 2018</th>
                                            <td>Erreur sur la commande du signal SI_F entrée-sortie dépôt  </td>
                                            <td></td>
                                            <td><a href="#" class="btn btn-outline-success waves-effect btn-sm m-0 float-right">Consulter</a></td>
                                        </tr>
                                       
                                    </tbody>

                                </table>
                                
                            </div>

                            

                        </div>
                    </div>

                   

                         
                </div>
 
                <div class="col-md-4">

                    <div class="sticky">
                        <!-- Card -->
                        <div class="card testimonial-card ">

                            <!-- Bacground color -->
                            <div class="card-up indigo lighten-1">
                            </div>

                            <!-- Avatar -->
                            <div class="avatar mx-auto white"><img src="/uploads/{{userview.file}}" class="rounded-circle">
                            </div>

                            <div class="card-body">
                                <!-- Name -->
                                <div class="text-center">
                                    <h5 class="mb-2 font-weight-bold">
                                        {{userview.lastName}} <br>
                                        {{userview.firstName}} <br>
                                    </h5>

                                    <h5><span class="badge badge-danger">{{userview.status}}</span></h5>
                                </div>
                                
                                <ul class="list-group mt-3 mb-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:15px;">
                                        <u>Numéro de Matricule:</u>
                                        <span class="badge badge-primary badge-pill p-2">{{userview.matricule}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:15px;">
                                        <u>Habilitation Numéro:</u>
                                        <span class="badge badge-primary badge-pill p-2">{{userview.habilitation}}</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:15px;">
                                        <u>Date d'hadmition:</u>
                                        <span class="badge badge-primary badge-pill p-2">{{userview.admition.admitionday}} {{userview.admition.admitionmonth}} {{userview.admition.admitionyear}}</span>
                                    </li>
                                </ul>
                                <!-- Quotation -->
                                <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" data-toggle="modal" data-target="#ModalMessage">Contact <i class="fa fa-paper-plane ml-2"></i></button>
                            </div>

                        </div>
                        <!-- Card -->

                        <br>

                        <div class="card pl-5 pr-5 pt-3 pb-3">

                            <button type="button" class="btn btn-outline-info waves-effect waves-light"><i class="fa fa-edit"></i> Modifier Le Compte</button>
                            <button type="button" class="btn btn-outline-danger waves-effect waves-light float-right"><i class="fa fa-trash"></i> Supprimer Le Compte</button>
                    
                        </div>

                    </div>

                </div>

            </div>

            <br><br><br><br>
            
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->





{{!-- Modal Contact Core --}}

<div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center indigo">
                <h5 class="modal-title white-text w-100 font-weight-bold py-2">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

        
            <div class="text-center">
                <i class="fa fa-envelope-o fa-4x mb-2 indigo-text animated rotateIn"></i>
                <p>Nouveau Message !</p>
            </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="objet" class="form-control">
                    <label for="objet"> Objet</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="message" class="form-control md-textarea" rows="3"></textarea>
                    <label for="message">Message</label>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-indigo waves-effect waves-light">Envoyer <i class="fa fa-paper-plane-o white-text ml-1"></i></button>
                <button type="button" class="btn btn-outline-indigo waves-effect waves-light" data-dismiss="modal">Annuler</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

{{!-- Modal Contact Core --}}

<script>  
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $("#filePreview").attr('src', e.target.result).width(231).height(231);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#file").change(function() {
        readURL(this);
    });
</script>